

/* project 7  */

#project7parentcointainer{

    display: flex;
    justify-content: center;
    align-items: center;
}
#project7cointainer{
    display: grid;
align-items: center;
background: #7b137688;
width: 75vw;
height: 80%;
}
#parentboxcointainer7{
display: flex;
justify-content: center;
margin-top: 40px;
}
#boxcointainer7{
    display: flex;
    justify-content: space-around;
width: 70%;
height: 15vh;
}


#child7cointainer{
    padding-top: 8px;
    align-items: center;
border: 2px solid black;
text-align: center;
width: 100px;
background: #6ac0c0;
}

#input1{
    margin-bottom: 17px;

} 


#capitalletters,#smallletters,#number,#Operators7{
    background: #6ac0c0;
    display: grid;
    align-items: center;
width: 100px;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 10px;

}

#box2cointainer7{

display: grid;
width: 80%;
height: 200px;
justify-content: center;

}

#parentbox2cointainer7{

display: flex;
justify-content: center;
align-items: center;
height: 270px;

}
#cointainertextarea7{
    display: flex;
    justify-content: center;
margin-top: 5px;
    width: 50vw;
    height: 70px;
position: relative;
/* background: #000; */
}

#showcode7{

position: absolute;
text-align: center;
width: 75%;
height: 50px;
margin-top: 10px;
margin-bottom: 10px;
background: #e5ecec;
padding-top: 13px;
resize: none;

}

#buttoncointainer7{
display: grid;
justify-content: center;
    padding-top: 10px;
    width: 100%;
}
#renderbtn7{

margin-bottom: 10px;

background: #92ffff8b;
border: none;
border-radius: 5px ;
width:30vw;
height: 45px;
}

#renderbtn7:hover{

    background: #00b3ff[];
}


#copybtn7{
    border-radius: 5px ;
    background: #92ffff8b;
border: none;
width: 30vw;
margin-bottom: 10px;
height: 45px;
}

#copybtn7:hover{
    
    background: #00b3ff;
}
